QMainWindow {
    background-color: #2a2a2a;
}


QPushButton {
    border: 2px solid #3549df;
    background-color:#3c54ff;
    border-radius: 20px;
    color: #fff;
    }

QPushButton::hover {
    background-color: midnightblue;
    border: rgb(18, 18, 82);
    }